<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dingzhen.dao.games.EnrollDao">
	
	<insert id="add"  parameterType="enroll">
		insert into enroll(id,playerid,eventsid) 
		values (#{id},#{player.id},#{events.id});
	</insert>
	
	
	<select id="findList" parameterType="enroll" resultType="enroll">
		select 
			a.id ,
			a.yscore,
			a.jscore,
			a.breakrecord,
			a.playerid as "player.id",
			b.realName as "player.realName",
			b.sex as "player.sex",
			b.dept as "player.dept",
			b.code as "player.code",
			a.eventsid as "events.id",
			c.name as "events.name",
			c.type as "events.type",
			c.fenzu as "events.fenzu",
			c.yusai as "events.yusai",
			c.record as "events.record",
			c.rtype as "events.rtype" 
		from enroll a
		left join player b on a.playerid = b.id
		inner join events c on a.eventsid = c.id
		where 1 = 1
		<if test="breakrecord != null and '' != breakrecord">  
			  <![CDATA[  
              AND a.breakrecord <> '0'
          	  ]]>  
        </if>
         <if test="keyword != null and '' != keyword">  
              AND 	b.realName like '%' #{keyword} '%' 
        </if>
        <if test="events != null and events.id!=null">  
              AND 	a.eventsid = #{events.id}
        </if>
        <if test="player != null and player.id!=null">  
              AND 	a.playerid = #{player.id}
        </if>
        <if test="events != null and events.rtype==1">
        	order by a.jscore 
        </if>
        <if test="events != null and events.rtype==0">
        	order by a.jscore desc 
        </if>
		<if test="page != null and rows != null" >           
              limit #{page}, #{rows} 
        </if>
	</select>
	
	
	<select id="count" parameterType="enroll" resultType="int">
		select 
			count(*)
		from enroll a
		left join player b on a.playerid = b.id
		inner join events c on a.eventsid = c.id
		where 1 = 1
		<if test="breakrecord != null and '' != breakrecord">  
			  <![CDATA[  
              AND a.breakrecord <> '0'
          	  ]]>  
        </if>
         <if test="keyword != null and '' != keyword">  
              AND 	b.realName like '%' #{keyword} '%' 
        </if>
        <if test="events != null and events.id!=null">  
              AND 	a.eventsid = #{events.id}
        </if>
        <if test="player != null and player.id!=null">  
              AND 	a.playerid = #{player.id}
        </if>
	</select>
	

	
	<update id="updateYScore" parameterType="enroll">
    	update enroll set yscore = #{yscore} where id = #{id}
    </update>
    
    
    <update id="updateJScore" parameterType="enroll">
    	update enroll set jscore = #{jscore} where id = #{id}
    </update>
    
    
    <update id="updateBreakrecord" parameterType="enroll">
    	update enroll set breakrecord = #{breakrecord} where id = #{id}
    </update>
    
    
    <select id="checkExist" parameterType="java.util.Map"  resultType="int">
    	select count(*) from enroll where playerid = #{playerid} and eventsid = #{eventsid}
    </select>
    
</mapper>
